@model NvdBKGK_lession07.Models.nvdSinhVien

@{
    ViewBag.Title = "NvdDelete";
}

<h2>NvdDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>nvdSinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NvdHoSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdHoSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdTenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdTenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdNgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdNgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdPhai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdPhai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nvdKhoa.NvdTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nvdKhoa.NvdTenKH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "NvdIndex")
        </div>
    }
</div>
